site_name: Ainur Protocol
site_url: https://docs.ainur.network
docs_dir: docs
repo_url: https://github.com/aidenlippert/ainur
repo_name: aidenlippert/ainur

theme:
  name: material
  palette:
    - scheme: slate
      primary: red
      accent: red
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      primary: red
      accent: red
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  font:
    text: Space Grotesk
    code: JetBrains Mono
  features:
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate

plugins:
  - search

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.details
  - admonition
  - pymdownx.snippets
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - tables
  - attr_list

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Whitepaper: whitepaper.md
  - Agent Operating Manual: AGENT.md
  - GitHub: https://github.com/aidenlippert/ainur
