@import "tailwindcss";

:root {
  --primary: #f90606;
  --background-light: #f8f5f5;
  --background-dark: #111111;
  --surface-dark: #181111;
  --border-dark: #3a2727;
  --text-muted-dark: #bb9b9b;
}

@theme inline {
  --color-primary: var(--primary);
  --font-display: var(--font-display);
}

* {
  border-color: var(--border-dark);
}

body {
  background: var(--background-dark);
  color: #e5e7eb;
  font-family: var(--font-display), sans-serif;
}

/* Material Symbols configuration */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  font-size: 24px;
}
